@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    background-color: #1E1E1E;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-bottom: 49px;
}

legend {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.envolvidos {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.box {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    background-color: #303030;
    width: 1000px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, 0.25);
    gap: 10px;
}

button {
    width: 261px;
    height: 43px;
    background-color: #00875F;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    animation: ease-out;
    background-color: #009b6c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 500ms;
}

textarea {
    width: 100%;
    height: 200px;
}

fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    border-color: #303030;
    gap: 10px;
}

@media (max-width: 767px) {
    .envolvidos {
        flex-direction: column;
        align-items: center;
    }

    .criacaocrm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .criacaocrm textarea{
        width: 80%;
    }
    fieldset p{
        width: 50%;
        margin-top: 10px;
    }

    .box img{
        width: 90%;
    }
}
