<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="inicial.css" />
  <title>Inicial</title>
</head>

<body>
  <div class="page-inicial">
    <div class="container">
      <div class="box">
        <img src="QQ.svg"/>
        <span style="margin-top: 8px;"><b>Bem-vindo <%= nome %></b></span>
        <a href="/criacao"><button>Criar CRM</button></a>
        <a href="/pesquisar"><button>Pesquisar</button></a>
        <a href="/minha_crm"><button>Minhas CRMs</button></a>
        <a href="/"><button>Sair</button></a>
      </div>
    </body>
  </div>
</html>