<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="minha_crm.css">
  <title>CRMs Atribuidas a você</title>
</head>

<body>
  <div class="container">
    <div class="box">
      <img src="QQ.svg" />
      <h1>Escolha a categoria:</h1>
      <select class="custom-select custom-select-lg mb-2">
        <option selected>Escolha um tipo de busca</option>
        <option value="1">Aprovados</option>
        <option value="2">Pendentes</option>
        <option value="3">Recusadas</option>
      </select>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID CRM</th>
            <th scope="col">Criador</th>
            <th scope="col">Status</th>
            <th scope="col">Criação</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1212</th>
            <td>Renato</td>
            <td>Pendente</td>
            <td>12/10/2022</td>
          </tr>
          <tr>
            <th scope="row">1341</th>
            <td>Allan</td>
            <td>Aprovado</td>
            <td>05/10/2022</td>
          </tr>
        </tbody>
      </table>
    </div>

</body>

</html>